<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909216389322-jfgbktkrvk7ulhtdc8u63el6ubk2i7n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909216389322-jfgbktkrvk7ulhtdc8u63el6ubk2i7n3</string>
	<key>API_KEY</key>
	<string>AIzaSyDILdqtIdWIInN7QzDBa6VVX-pD7sd9LGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909216389322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golfrounder.golfRounder</string>
	<key>PROJECT_ID</key>
	<string>rounder-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>rounder-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909216389322:ios:449f12d1cd1a1b2df0bc33</string>
</dict>
</plist>